.navbar__container{
  align-items: center;
  overflow: hidden; 
  padding: 41px 24px 23.5px 6px;
  position: relative;
}

.navbar__container__logo{
  transform: scale(0.75);
  float: left;
}

.navbar__container__pages, .navbar__container__button{
  display: none;
}

.navbar__container__hamburgerMenu{
  cursor: pointer;
  float: right;
}

.navbar__container__hamburgerMenu img{
  vertical-align: top;
}

@media screen and (min-width: 1240px){
  .navbar__container{
    display: flex;
    padding: 0px 160px;
    justify-content: space-between;
  }

  .navbar__container__pages, .navbar__container__button{
    display: inline-flex;
  }

  .navbar__container__logo img{
    margin: 15px 0 5px 11px;
  }
  
  .navbar__container__pages a{
    text-decoration: none;
    color: var(--Dark-Blue);
    font-weight: 400;
    padding: 31.5px 14px;
    font-size: 15px;
  }

  .navbar__container__pages a:hover{
    text-align:center;
    padding-bottom:1px;
    background-size:100% 5px ;
  }

  .navbar__container__hamburgerMenu{
    display: none;
  }
}